<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emir201.dualshare">

    <!-- 🔹 Indica que la app usa la cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- 🔹 Permisos necesarios -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Compatibilidad con versiones anteriores a Android 13 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DualShare">

        <!-- 📸 Activity principal que abre la cámara -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.DualShare" />

        <activity
            android:name=".VideoPreviewActivity"
            android:exported="true" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".VoiceRecorderActivity" />


    </application>
</manifest>
